:root {
    --primario: #ECAF52;
    --primarioClaro: #F3E1C4;
    --secundario: #574d37;
    --blanco: #fff;
    --negro: #000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */

body {
    background-image: linear-gradient(to top, #f3e1c4, #f6e6d1, #f7ecdd, #f8f1ea, #f8f7f6);
    font-size: 16px;
    line-height: 15px;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primario);
    padding: 0 10px;
}

a:hover {
    color: var(--blanco);
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 25px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        color: var(--blanco);
    }
}


h2 {
    font-size: 20px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 32px;
    }
}


h3 {
    font-size: 14px;
}

@media (min-width: 768px) {
    h3 {
        font-size: 24px;
    }
}

/* Header */
header {
    grid-area: header;
    background-color: var(--negro);
}

.header__logo {
    width: 100px;
}


nav {
    text-align: right;
    font-size: 10px;
    padding: 5px;
}

@media (min-width: 768px) {
    nav {
        text-align: right;
        padding: 15px;
        background-color: var(--negro);
        font-size: 15px;
    }
}


.div__header {
    padding: 5PX;
    display: flex;
    flex-direction: row;
}

.div__logo {
    width: 10%;
}

.div__titulo {
    width: 85%;
}

@media (min-width: 768px) {
    .div__titulo {
        width: 90%;
        padding: 0 150px 0 0;
    }
}

h1:hover {
    color: var(--primario);
}


/* main */

main {
    background-image: linear-gradient(to bottom, #f3e1c4, #f6e6d1, #f7ecdd, #f8f1ea, #f8f7f6);
}

.titulo__inicio {
    padding: 40px 0 40px 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {

}

@media (min-width: 768px) {
    .producto__imagen {
    justify-content: center;
}
}


.producto__informacion {
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 5px var(--primarioClaro);
}

.producto__precio {
    font-size: 20px;
}

.boton__todo {
    display: flex;
    justify-content: center;
    padding: 15px;

}

.boton__todo-- {
    padding: 15px;
    background-color: var(--primario);
    border: none;
    font-size: 20px;
    transition: background-color .3s ease;
}

.boton__todo--:hover {
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--primarioClaro);
}

/* footer */

footer {
    background-color: black;
    padding: 5px;
    display: flex;
    align-items: center;
    grid-area: footer;
}

.footer__texto {
    color: var(--primario);
    font-size: 12px;
    justify-content: center;
}

.footer__texto:hover {
    color: var(--blanco);
}

.consumidores {
    background-color: black;
    padding: 5px;
    display: grid;
    justify-content: center;
    font-size: 12px;
}

/* Crear cuenta */

.formulario__cuenta {
    display: grid;
    padding: 40px;
    gap: 20px;
    justify-content: center;
}

.fomulario__tabla {
    padding: 30px;
    text-align: center;
}

.tr_form {
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .tr_form {
        display: flex;
    }
}


.boton__formulario {
    padding: 10px;
    background-color: var(--primario);
    border: none;
    font-size: 15px;
    transition: background-color .3s ease;
}

.boton__formulario:hover {
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--primarioClaro);
}


legend {
    font-size: 35px;
    text-align: center;
}

/* Productos */

@media (min-width: 768px) {
    .seccion__productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    padding: 10px 0 20px 20px;

}

.formulario__producto {
    background-color: var(--primario);
    font-size: 15px;
    border: 10px solid var(--primario);
    padding: 10px;
    appearance: none;
}

.formulario__boton {
    padding: 10px;
    background-color: var(--primario);
    border: none;
    font-size: 15px;
    grid-column: 1/3;
}

.formulario__boton:hover {
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--primarioClaro);
}


.nombre__producto-- {
    padding: 30px 0 30px 0;
    margin: 0;
}


.foto__producto-- {
    width: 80%;
    padding-left: 50px;
    padding-bottom: 30px;
}

.producto__producto {
    padding: 10px 20px 10px 20px;
}

/* Pagina todos los productos */

#body__productos{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 75%;
    grid-template-areas:
        "header header"
        "art art"
        "nav nav"
        "main main"
        "footer footer"
        "consumidores consumidores";
}

@media (min-width: 768px) {
#body__productos {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 75%;
    grid-template-areas:
        "header header"
        "art art"
        "nav main"
        "nav main"
        "footer footer"
        "consumidores consumidores";
    }
}
    


.barra__lateral{
    grid-area: nav;
    background-color: var(--blanco);
    display: grid;
    justify-content: center;
    gap: 10px;
}

.contenido__productos {
    grid-area: main;
    padding: 30px;
    justify-content: center;
}

.barra__articulos {
    grid-area: art;
    display: flex;
    justify-content: space-around;
}

.consumidores{
    grid-area: consumidores;
}